@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');
/* Hero text */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #f9faf8;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    padding: 10px 200px 100px 200px;
    column-gap: 100px;
}

.left {
    flex: 1;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: column;
}

.header-left {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.right {
    flex: 1;
    flex-wrap: wrap;
    padding: 0;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-bottom: 80px;
    font-weight: bold;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin: 0 0 80px 0;
    justify-content: flex-end;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.image-head {
    background-color: gray;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.button {
    color: white;
    width: 90px;
    height: 27px;
    border-radius: 5px;
    border: none;
    padding: 6px;
    background-color: #3882F6;
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* Hero text */

/* first content */

img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.content.first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-top {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    padding: 45px;
}

.content-bottom {
    display: flex;
    margin: 35px 0 90px 0;
    gap: 10px;
}

.image {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

/* first content */


/*second content*/

.content.second {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #E5E7EB;
    padding: 105px 450px;

}

.quote {
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    align-self: center;
}

.signature {
    align-self: flex-end;
    font-weight: bold;
    color: #1f2937;
}

/*second content*/


/*last content*/

.content.last {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 70px auto;
    border-radius: 5px;
    background-color: #3882F6;
}

.bold-line {
    font-weight: bold;
}

.small-box {
    margin: 40px 100px;
}

.button.last {
    border: 1px solid white;
    align-self: center;
    margin: 0 100px;
    font-weight: bold;
}

/*last content*/


/* footer */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}