@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto;

}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header.top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header.left {
    width: 30%;
    flex-wrap: wrap;
}

.header.right {
    width: 33%;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.header-low {
    display: flex;
    justify-content: space-between;
    margin: 60px auto;
    gap: 10px;
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 103px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-right: 103px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.button {
color: white;
width: 90px;
border-radius: 5px;
border: none;
padding: 6px;
}

.button.first {
    background-color: #3882F6;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}